.adopter-section {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;

}

.adopter-section h2 {
  font-size: 48px;
  color: #2f4f7f;
  margin-bottom: 30px;
}

.adopter-section h2 span {
  font-size: 14px;
  padding: 2px 8px;
  margin-left: 10px;
  color: #000000;
}

.Animal-container {
  display: grid;
  grid-template-columns: repeat(2, 541px);
  gap: 20px;
  justify-content: center;
}

.animal {
  width: 541px;
  height: 248px;
  border: 1px solid #999;
  background: white;

  display: flex;
}

.animal img {
  width: 170px;
  height: 100%;
  object-fit: cover;
}

.animal-content {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animal-content h3 {
  font-size: 28px;
  margin: 0;
}

.animal-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.animal-content small {
  color: #777;
}

button {
  display: block;
  margin: 40px auto 0;
  padding: 12px 24px;
  background: #3D5F8F;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}